@media(max-width: 1200px){
    .get-heading h2 {
    font-size: 55px;}
    .blog h2 {
    margin-bottom: 5px;}
    .blog p {
    margin-bottom: 4px;}

}


@media(max-width: 992px){
	.banner-section .banner-content h2 {
    font-size: 50px;
    width: 445px;}
    .banner-section .banner-content p {
    width: 447px;
    font-size: 16px;}
    .banner-section .banner-content a{
	padding: 7px 30px;
	font-size: 18px;}
    .get-heading h2 {
    font-size: 41px;
    line-height: 62px;}



}

@media(max-width: 768px){
	.banner-section .banner-content h2 {
    font-size: 40px;
    width: 352px;
	margin-bottom: 0;
    line-height: 45px;}
    .banner-section .banner-content p {
    width: 320px;
    font-size: 16px;
	margin-bottom: 10px;}
    .banner-section .banner-content a{
	padding: 7px 20px;
	font-size: 16px;
	margin-top: 0;}



}

@media(max-width: 576px){
	.banner-section .banner-content h2 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;}
    .banner-section .banner-content p {
    width: 236px;
    font-size: 13px;}
    .banner-section .banner-content a {
    padding: 5px 25px;
    font-size: 13px;
    margin-top: 0;}
    .footer-section .nav .nav-link {
    font-size: 10px;}
    .footer-text p {
    font-size: 9px;}



}